a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: var(--theme-nav-box-shadow);
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-left: 8px;
}

[data-color-mode=dark] .logo {
  background-image: url('data:image/svg+xml,<svg width="512" height="512" viewBox="0 0 512 512" version="1.1" id="logo-dark" xml:space="preserve" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><namedview id="view1" pagecolor="%23e6e6e6" bordercolor="%23000000" borderopacity="0.25" showgrid="false" /><defs id="defs1"><mask maskUnits="userSpaceOnUse" id="mask27"><rect style="fill:%23ffffff;fill-opacity:1" id="rect27" width="512" height="512" x="1.5301447" y="2.2148144" rx="140" /></mask></defs><g id="layer1" style="fill:none"><g id="g5" transform="translate(-1.5301447,-2.2148145)" mask="url(%23mask27)"><rect style="fill:%23ffffff;fill-opacity:1" id="rect5" width="128" height="128" x="385.53015" y="386.21481" rx="8" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-2" width="128" height="128" x="193.53014" y="386.21481" rx="8" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-3" width="128" height="128" x="1.530138" y="386.21481" rx="8" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-26" width="128" height="128" x="385.53015" y="194.21481" rx="8" /><rect class="middle" style="fill:%231770ff;fill-opacity:1" id="rect5-9" width="160" height="160" x="177.53015" y="178.21481" rx="16" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-37" width="128" height="128" x="1.530138" y="194.21481" rx="8" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-28" width="128" height="128" x="385.53015" y="2.2148159" rx="8" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-6" width="128" height="128" x="193.53014" y="2.2148159" rx="8" /><rect style="fill:%23ffffff;fill-opacity:1" id="rect5-31" width="128" height="128" x="1.530138" y="2.2148159" rx="8" /></g></g></svg>');
}

[data-color-mode=light] .logo {
  background-image: url('data:image/svg+xml,<svg width="512" height="512" viewBox="0 0 512 512" version="1.1" id="logo-light" xml:space="preserve" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><namedview id="view1" pagecolor="%23e6e6e6" bordercolor="%23000000" borderopacity="0.25" showgrid="false" /><defs id="defs1"><mask maskUnits="userSpaceOnUse" id="mask27"><rect style="fill:%23ffffff;fill-opacity:1" id="rect27" width="512" height="512" x="1.5301447" y="2.2148144" rx="140" /></mask></defs><g id="layer1" style="fill:none"><g id="g5" transform="translate(-1.5301447,-2.2148145)" mask="url(%23mask27)"><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5" width="128" height="128" x="385.53015" y="386.21481" rx="8" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-2" width="128" height="128" x="193.53014" y="386.21481" rx="8" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-3" width="128" height="128" x="1.530138" y="386.21481" rx="8" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-26" width="128" height="128" x="385.53015" y="194.21481" rx="8" /><rect class="middle" style="fill:%231770ff;fill-opacity:1" id="rect5-9" width="160" height="160" x="177.53015" y="178.21481" rx="16" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-37" width="128" height="128" x="1.530138" y="194.21481" rx="8" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-28" width="128" height="128" x="385.53015" y="2.2148159" rx="8" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-6" width="128" height="128" x="193.53014" y="2.2148159" rx="8" /><rect style="fill:%234e4e4e;fill-opacity:1" id="rect5-31" width="128" height="128" x="1.530138" y="2.2148159" rx="8" /></g></g></svg>');
}

.logo {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-size: cover;
  background-position: center center;
}