.partTypesTreeView .MuiTreeItem-group {
	margin-left: 10px !important;
}
.partTypesTreeView li.MuiTreeItem-root {
	margin-left: 0px;
}
.partTypesTreeView .MuiTreeItem-content {
	padding-left: 0;
}
.partTypesTreeView .MuiTreeItem-group .MuiTreeItem-content {
	padding-left: 0 !important;
}

.partTypesTreeView svg.parttype {
	color: #bbb;
	margin-right: 4px;
}

.partTypesTreeView div.parttype:has(svg) {
	color: #bbb;
	margin-right: 4px;
	vertical-align: baseline;
}

.partTypesTreeView div.parttype>svg {
	max-width: 24px;
	max-height: 24px;
	vertical-align: baseline;
}

.field.icons .ui.dropdown .item svg {
	margin-left: 10px;
	color: #bbb;
}

.field.icons .ui.dropdown .item span {
	margin-left: 40px;
}

.partTypes .tools {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.partTypes .tools.small {
  font-size: 0.7em;
}

.partTypes .tools a {
  text-decoration: none;
}

.partTypes .tools.small .ui.checkbox label {
  font-size: 0.7em;
}

.partTypes .partTypesTreeView.MuiSimpleTreeView-root .MuiTreeItem-content.MuiSimpleTreeView-itemContent.Mui-selected, .partTypes .MuiTreeItem-content[data-selected] {
  background-color: var(--theme-treeview-bg, rgba(0,0,0,0.08)) !important;
}
.partTypes .partTypesTreeView.MuiSimpleTreeView-root .MuiTreeItem-content.MuiSimpleTreeView-itemContent.Mui-focused, .partTypes .MuiTreeItem-content[data-focused] {
  background-color: unset;
}