version: 2.6.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
  - /releases/
#skip_branch_with_pr: true
#image: Visual Studio 2022
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  version_prefix: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
environment:
  CI: false
cache:
- C:\ProgramData\chocolatey\bin
- C:\ProgramData\chocolatey\lib
- C:\projects\binner\Binner\Binner.Web\ClientApp\node_modules
- '%APPDATA%\npm-cache'
- packages -> **\packages.config
- '%userprofile%\.nuget\packages -> appveyor.yml, **\*.csproj'
- node_modules -> package.json
- '%LocalAppData%\\npm-cache'
- '%AppData%\npm\node_modules'
init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
build_script:
- ps: >-
    .\Scripts\appveyor-build.ps1
test: off
artifacts:
  - path: **\*.tar.gz
    name: Installers
  - path: .\Binner\BinnerInstaller\*.exe
    name: WindowsInstaller
