.partTypeSelector-container {
  position: relative;
}

/*.partTypeSelector-container div.icon:has(+ .partTypeSelector) { (no support in firefox yet) */
.partTypeSelector-container div.icon {
  position: absolute;
  top: 30%;
  left: 10px;
  z-index: 999;
}

.partTypeSelector-container .ui.selection.dropdown>.dropdown.icon {
  top: 33%;
}

.ui.selection.dropdown.partTypeSelector {
  padding-top: 0 !important;
}

.partTypeSelector-container input.search {
  padding-left: 3.5em !important;
  height: 100%;
}

.partTypeSelector-container .default.text {
  height: 100%;
  top: 50% !important;
}

.partTypeSelector-container .icon {
  height: 100%;
}

.ui.selection.dropdown.partTypeSelector .text {
  left: 2.5em;
}

.ui.selection.dropdown.partTypeSelector .text svg {
  margin-top: -1px;
  margin-right: 10px;
}

.partTypeSelectorTreeView .MuiTreeItem-content:hover {
  background-color: var(--theme-treeview-hover-bg) !important;
}

.partTypeSelectorTreeView div.MuiTreeItem-content.Mui-focused,
.partTypeSelectorTreeView div.MuiTreeItem-content.Mui-selected,
.partTypeSelectorTreeView div.MuiTreeItem-content.Mui-selected.Mui-focused {
  background-color: var(--theme-form-control-bg-highlight);
  color: var(--theme-input-color);
}

.partTypeSelectorTreeView div.MuiTreeItem-content.Mui-focused:hover,
.partTypeSelectorTreeView div.MuiTreeItem-content.Mui-selected:hover,
.partTypeSelectorTreeView div.MuiTreeItem-content.Mui-selected.Mui-focused:hover {
  background-color: var(--theme-selection-bg) !important;
}

.partTypeSelectorTreeView .MuiTreeItem-label span.MuiTypography-root.MuiTypography-caption {
  color: var(--theme-a-color);
}

.partTypeSelectorTreeView .MuiTreeItem-label p.MuiTypography-root.MuiTypography-body2 {
  color: var(--theme-input-color);
}

.partTypeSelector.ui.active.search.dropdown input.search:focus+.text {
  color: var(--theme-color) !important;
}

.partTypeSelector.ui.default.dropdown:not(.button)>.text,
.partTypeSelector.ui.dropdown:not(.button)>.default.text {
  color: rgba(var(--theme-color-rgb), .87);
}

.partTypeSelectorTreeView .MuiTreeItem-group {
  margin-left: 10px !important;
}

.partTypeSelectorTreeView li.MuiTreeItem-root {
  margin-left: 0px;
}

.partTypeSelectorTreeView .MuiTreeItem-content {
  padding-left: 0;
}

.partTypeSelectorTreeView .MuiTreeItem-group .MuiTreeItem-content {
  padding-left: 0 !important;
}

.partTypeSelector-container svg.parttype {
  color: var(--theme-svg-color);
  margin-right: 5px;
  vertical-align: baseline;
}

.partTypeSelector-container div.parttype:has(svg) {
  color: var(--theme-svg-color);
  margin-right: 5px;
}

.partTypeSelector-container div.parttype>svg {
  max-width: 24px;
  max-height: 24px;
  vertical-align: baseline;
}

.partTypeSelector-container .clearIconContainer {
  position: absolute;
  right: 2.5em;
  top: 25%;
  z-index: 2;
  padding: 2px;
  cursor: pointer;
}

.partTypeSelector.ui.dropdown .menu>.item:hover {
  background: unset !important;
}