#partsGrid tr.selected {
	background-color: rgb(179, 218, 255);
}

#partsGrid td {
	vertical-align: middle;
}

.ui.selectable.table tbody tr.selected:hover {
	background-color: rgb(63, 160, 250) !important;
}

#partsGrid .icon-container { 
	display: flex;
}

#partsGrid .icon-container.small svg { 
	height: 0.9em;
	color: gray;
}

#partsGrid .icon-container.small { 
	font-size: 1em;
}

#partsGrid td .icon-container div {
	margin-left: auto;
}

#partsGrid td a {
	display: inline-block;
}

#partsGrid td:has(a):hover { 
	background-color: #ccc;
}

#partsGrid .field.inline-editable {
  display: inline;
}

#partsGrid .field.inline-editable .ui.transparent.input {
  width: unset;
}

#partsGrid .field.inline-editable>label {
  display: inline;
}

#partsGrid .field.inline-editable .ui.input >input {
  display: inline;
  border: 1px solid transparent !important;
  margin-left: 2px;
}

#partsGrid .field.inline-editable .ui.input input:hover {
  border: 1px solid rgb(185, 220, 253) !important;
}

#partsGrid .field.inline-editable .ui.input >input:focus {
  border: 1px solid rgb(63, 160, 250) !important;
}

#partsGrid .inline-editable .ui.input >input {
  width: 90%;
}

#partsGrid .inline-editable > textarea {
  width: 90%;
  height: 25px;
  min-height: 25px;
  padding: 5px;
}

#partsGrid .customfields {

}

#partsGrid .customfields .customfield {
  margin-right: 5px;
}

#partsGrid .customfields .customfield i {
  font-weight: 700;
  font-style: normal;
}