@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  i.icon,
  i.icons {
    font-size: 0.8em !important;
  }
  .ui.statistic > .label {
    font-size: 0.8em !important;
  }
}

/* EXPERIMENTAL */

.sticky-target {
  border-top: 1px solid var(--theme-table-border-color);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  bottom: -100px;
  left: 0;
  background-color: var(--theme-modal-bg);
  padding-left: 200px;
  z-index: 10000;
  transition-property: bottom;
  transition-duration: 0.5s;
}

/* reveal image scroll footer */

[data-color-mode=dark] {
  color-scheme: dark;
}

[data-color-mode=light] {
  color-scheme: light;
}

html, body {
  height: 100%;
}

html {
  background-color: var(--theme-bg);
}

body {
  color: var(--theme-color);
  background-color: var(--theme-bg);
  background: linear-gradient(0deg, var(--theme-bg) 0%, var(--theme-bg-end) 100%);
  margin: 0;
  min-height: 100vh;
}

.mask {
  background-color: var(--theme-bg);
  background: linear-gradient(180deg, transparent 0%, transparent 50%, var(--theme-bg) 50%, var(--theme-bg) 100%);
}

.text-dark {
  color: rgba(var(--theme-color-rgb), var(--theme-color-opacity)) !important;
}

::selection {
  background-color: var(--theme-selection-bg) !important;
  color: var(--theme-selection-color) !important;
}

/**************************
 *    SEMANTIC STYLING    *
 **************************/

#printarea.ui.image {
  background-color: var(--theme-print-bg);
  border: var(--theme-print-border);
  border-radius: 12px;
  padding: 5px;
  -webkit-box-shadow: inset 1px 1px 8px -1px rgba(0,0,0,.25);
  box-shadow: inset 1px 1px 8px -1px rgba(0, 0, 0, .25);
  margin-right: 15px;
}

 .ui.form input::placeholder,
 .ui.form .ui.input input::placeholder {
   color: var(--theme-placeholder-color);
 }

.ui.form .field.field input:-webkit-autofill, .ui.form .field.field input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px var(--theme-form-control-bg-autocomplete) inset !important;
  box-shadow: 0 0 0 100px var(--theme-form-control-bg-autocomplete) inset !important;
  border-color: var(--theme-form-control-border-autocomplete) !important;
}

.ui.segment {
  background-color: var(--theme-segment-bg);
  border-color: var(--theme-border-color);
  box-shadow: var(--theme-box-shadow);
}

.ui.secondary.segment {
  background-color: var(--theme-segment-secondary-bg);
  border-color: var(--theme-border-color);
  box-shadow: var(--theme-box-shadow);
  color: var(--theme-secondary-color);
}

.ui.tertiary.segment {
  background-color: var(--theme-segment-tertiary-bg);
  border-color: var(--theme-border-color);
  box-shadow: var(--theme-box-shadow);
  color: var(--theme-secondary-color);
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  background-color: var(--theme-segment-inverted-bg);
  color: var(--theme-color);
}

.ui.grid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ui.statistic {
  display: -webkit-box;
  margin: 10px auto 10px auto !important;
}

.ui.statistic>.label,
.ui.statistics .statistic>.label {
  color: var(--theme-color);
}

.ui.inverted.statistic>.label {
  color: var(--theme-color-inverted);
}

.ui.statistic>.value,
.ui.statistics .statistic>.value {
  color: var(--theme-statistic);
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
  background-color: var(--theme-form-control-bg);
  color: var(--theme-color);
}

.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus {
  background-color: var(--theme-form-control-bg-focus) !important;
  color: var(--theme-form-control-color-focus) !important;
}

.ui.input {
  color: var(--theme-input-color);
}

.ui.input.focus>input,
.ui.input>input:focus {
  color: var(--theme-input-color);
}

.ui.input.labeled.inline-editable .ui.label {
  background-color: #fff;
  padding: 2px 1px;
  margin-right: 1px;
}

.ui.input.inline-editable>input {
  padding: 0 2px !important;
}

.ui.input.inline-editable.centered>input {
  text-align: center;
}

.ui.input.labeled.inline-editable>input {
  padding: 0 0 0 1px !important;
}

.ui.input.labeled.inline-editable.centered>input {
  text-align: center;
}

.ui.input.inline-editable>input:hover {
  outline: 1px solid #ddd;
  outline-offset: 2px;
}

.ui.input.inline-editable>input:focus {
  outline: 1px solid #aaa;
  outline-offset: 2px;
  background-color: var(--theme-form-control-bg-focus) !important;
  color: var(--theme-input-color) !important;
}

.ui.input>input {
  color: var(--theme-input-color);
  background-color: var(--theme-form-control-bg) !important;
}

.ui.selection.dropdown, .ui.menu, .ui.menu .item {
  background-color: var(--theme-form-control-bg);
  color: var(--theme-input-color);
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
  background-color: var(--theme-form-menu-highlight-bg);
  color: var(--theme-form-menu-highlight-color);
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  background-color: var(--theme-form-menu-highlight-bg);
  color: var(--theme-form-menu-highlight-color);
}

.ui.small.table {
  font-size: 0.8em !important;
}

.ui.dropdown.small {
  padding: 5px;
  display: inline-block;
  min-height: 35px;
  min-width: 100px;
}

.ui.dropdown.small .text {
  line-height: 1.5em;
  padding-left: 10px;
}

.ui.dropdown.small.labeled {
  margin-right: 5px;
}

.ui.breadcrumb {
  margin-bottom: 10px;
}

.ui.sortable.table thead th:hover {
  color: var(--theme-input-color-highlight);
}

.ui.selection.active.dropdown .menu {
  border: var(--theme-menu-border);
}

.ui.selection.dropdown .menu>.item {
  border-top: var(--theme-menu-border);
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  color: var(--theme-color);
}

.ui.selection.visible.dropdown>.text:not(.default) {
  color: var(--theme-color);
}

.ui.dropdown .menu {
  background-color: var(--theme-form-menu-bg);
  color: var(--theme-input-color);
  border: var(--theme-menu-border);
}

.ui.dropdown .menu>.item {
  color: var(--theme-input-color) !important;
}

.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
  box-shadow: var(--theme-nav-box-shadow);
}

.ui.menu .active.item {
  background-color: var(--theme-form-menu-bg);
  color: var(--theme-input-color);
}

.ui.menu .dropdown.item .menu {
  background-color: var(--theme-form-menu-bg);
  color: var(--theme-input-color);
  box-shadow: var(--theme-nav-box-shadow);
}

.ui.menu .ui.dropdown .menu>.item {
  color: var(--theme-input-color) !important;
}

.ui.menu .ui.dropdown .menu>.item:hover {
  background-color: var(--theme-form-menu-highlight-bg) !important;
  color: var(--theme-form-menu-highlight-color) !important;
}

.ui.form .field>label {
  color: var(--theme-color);
}

i.circular.icon {
  background-color: var(--theme-form-control-bg-highlight);
}

.ui.button {
  background-color: var(--theme-button-bg);
  color: var(--theme-button-color);
}

.ui.primary.button {
  background-color: var(--theme-button-primary-bg);
  color: var(--theme-button-primary-color);
}

.ui.secondary.button {
  background-color: var(--theme-button-secondary-bg);
  color: var(--theme-button-secondary-color);
}

.ui.buttons .or:before {
  background-color: var(--theme-form-control-bg-highlight);
  color: var(--theme-color);
}

.ui.buttons .or:before {
  width: 2em;
  height: 2em;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .5);
}

.ui.buttons>.or {
  position: relative;
  left: -0.5em;
}

.ui.button.svg {
  padding: 0.5em 1.25em;
}

.ui.button svg {
  position: relative;
  top: -1px;
  font-size: 1.5em;
}

.ui.form textarea {
  background-color: var(--theme-form-control-bg);
  color: var(--theme-input-color);
}

.ui.form textarea:focus {
  background-color: var(--theme-form-control-bg-focus);
    color: var(--theme-input-color);
}

.ui.form .customFieldValues h3 {
  border-bottom: 1px solid #2184d06c;
  color: #2185d0;
}

.ui.form .customFieldValues div.fields {
  display: flex;
  flex-wrap: wrap;
}

.ui.header {
  color: var(--theme-color);
}

.ui.table {
  background: var(--theme-form-control-bg);
}

.ui.table thead th, .ui.sortable.table thead th {
  background: var(--theme-form-control-bg);
  color: var(--theme-table-color);
}

.ui.loader.inline.static {
  position: relative;
}

.ui.loader.inline.static:after {
  border-color: #767676 transparent transparent !important;
}

.ui.table td.disabled {
  background-color: #f6f6f6;
}

.ui.selection.dropdown.bool-disabled>div {
  font-weight: 700;
  color: var(--theme-disabled-color);
}

.table> :not(caption)>*>* {
  background: var(--theme-table-bg);
  border-left: var(--theme-table-border-left) !important;
  border-color: var(--theme-table-border-color);
  color: var(--theme-table-color);
}

.ui.label {
  background-color: var(--theme-form-control-bg-highlight);
  color: var(--theme-color);
}

.ui.toggle.checkbox .box,
.ui.toggle.checkbox label,
.ui.toggle.checkbox input:focus:checked~.box,
.ui.toggle.checkbox input:focus:checked~label,
.ui.toggle.checkbox input:checked~.box,
.ui.toggle.checkbox input:checked~label {
  color: var(--theme-color) !important;
}

.ui.toggle.checkbox input:checked~.box:before,
.ui.toggle.checkbox input:checked~label:before {
  background-color: var(--theme-binnerblue) !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background-color: var(--theme-form-control-bg);
}

.ui.card {
  background-color: var(--theme-card-bg);
  color: var(--theme-color);
}

.ui.card>.extra, .ui.cards>.card>.extra, .ui.card>.content>.header,
.ui.cards>.card>.content>.header {
  color: var(--theme-color);
}

/* faux celled grid borders use boxshadow */
.ui.celled.grid>.row {
  -webkit-box-shadow: 0 -1px 0 0 var(--theme-table-border-color);
  box-shadow: 0 -1px 0 0 var(--theme-table-border-color);
}

.ui.celled.grid {
  -webkit-box-shadow: 0 0 0 1px var(--theme-table-border-color);
    box-shadow: 0 0 0 1px var(--theme-table-border-color);
}

.ui.celled.grid>.column:not(.row),
.ui.celled.grid>.row>.column {
  -webkit-box-shadow: -1px 0 0 0 var(--theme-table-border-color);
  box-shadow: -1px 0 0 0 var(--theme-table-border-color);
}

.ui.dropdown .menu>.item>.description,
.ui.dropdown>.text>.description {
  color: var(--theme-color);
}

.ui.loading.segment:before {
  background-color: var(--theme-loading-inverted-bg);
}

.ui.dimmer {
  background-color: var(--theme-loading-bg);
}

.ui.inverted.dimmer {
  background-color: var(--theme-loading-inverted-bg);
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.ui.modal {
  background-color: var(--theme-modal-bg);
  color: var(--theme-color);
  margin-top: auto !important;
    margin-bottom: auto !important;
    display: inline-block !important;
    position: relative;
    top: auto;
    width: 88%;
}

.ui.modal.scrolling.content {
  max-height: calc(100vh - 11em);
}

.ui.modal>.header {
  background-color: var(--theme-modal-header-bg);
  color: var(--theme-color);
  border-bottom: var(--theme-modal-header-border);
}

.ui.modal>.content {
  background-color: var(--theme-modal-bg);
  color: var(--theme-color);
}

.ui.modal>.actions {
  background-color: var(--theme-modal-actions-bg);
  color: var(--theme-color);
  border-top: var(--theme-modal-actions-border);
}

.ui.modal .description p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Source Code Pro", monospace;
  padding: 5px 0px 0px 25px;
}

/* fix for firefox */
.ui.modal.pcbHistoryModal .content {
  display: flex;
}

.ui.modal .content:has(.image.square) {
  display: flex;
}

.ui.modal .content .image.square {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.ui.modal .content .image.square img {
  width: 300px;
  max-height: 300px;
}

.ui.tabular.menu .item {
  background-color: var(--theme-tab-bg);
  color: var(--theme-tab-color);
}

.ui.tabular.menu .active.item {
  background-color: var(--theme-tab-active-bg);
  color: var(--theme-tab-active-color);
}

.ui.tabular.menu .item:hover {
  background-color: var(--theme-tab-hover-bg);
  color: var(--theme-tab-hover-color);
}

.ui.toggle.checkbox input:checked~.box:after,
.ui.toggle.checkbox input:checked~label:after,
.ui.toggle.checkbox input~.box:after,
.ui.toggle.checkbox input~label:after {
  top: 2.2px;
}

.ui.toggle.checkbox input:checked~.box:after,
.ui.toggle.checkbox input:checked~label:after {
  left: 1.99rem;
}

.ui.toggle.checkbox input~.box:after,
.ui.toggle.checkbox input~label:after {
  left: -.02rem;
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
  background-color: var(--theme-form-control-bg);
  color: var(--theme-input-color);
}

.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox input:checked:focus~.box:before,
.ui.checkbox input:checked:focus~label:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:before,
.ui.checkbox input:focus~.box:before,
.ui.checkbox input:focus~label:before {
  background-color: var(--theme-form-control-bg);
}

.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after,
.ui.checkbox input:checked:focus~.box:after,
.ui.checkbox input:checked:focus~label:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:after {
  color: var(--theme-input-color);
}

.ui.checkbox label,
.ui.checkbox+label {
  color: var(--theme-color);
}

.ui.checkbox label:hover,
.ui.checkbox+label:hover {
  color: var(--theme-input-color-highlight);
}

.ui.pagination.menu .active.item {
  color: var(--theme-color);
}

.ui.popup {
  background-color: var(--theme-popup-bg);
  color: var(--theme-popup-color);
  border-color: var(--theme-popup-border-color);
  -webkit-box-shadow: var(--theme-popup-shadow);
  box-shadow: var(--theme-popup-shadow);
}

.ui.popup:before {
  -webkit-box-shadow: 1px 1px 0 0 var(--theme-popup-border-color);
    box-shadow: 1px 1px 0 0 var(--theme-popup-border-color);
}

.ui.bottom.popup:before, .ui.top.popup:before, .ui.left.center.popup:before, .ui.right.center.popup:before {
  background-color: var(--theme-popup-bg);
}

.ui.bottom.right.popup:before{
  -webkit-box-shadow: -1px -1px 0 0 var(--theme-popup-border-color);
  box-shadow: -1px -1px 0 0 var(--theme-popup-border-color);
}

.ui.left.center.popup:before {
  -webkit-box-shadow: 1px -1px 0 0 var(--theme-popup-border-color);
  box-shadow: 1px -1px 0 0 var(--theme-popup-border-color);
}

.ui.divider {
  color: var(--theme-color);
}

/**************************
 *  END SEMANTIC STYLING  *
 **************************/

/**************************
 * MUI STYLING *
 **************************/

.MuiTable-root,
.MuiTableBody-root,
.MuiTypography-root,
.MuiTableBody-root,
.MuiTypography-body1,
.MuiTableContainer-root,
.MuiToolbar-root,
.MuiPaper-root {
  color: var(--theme-color) !important;
}

.MuiToolbar-root.MuiToolbar-gutters {
  background-color: var(--theme-table-bg);
  color: var(--theme-color);
}

.MuiButtonBase-root.MuiIconButton-root, .MuiTypography-root.MuiTypography-caption {
  color: var(--theme-color);
}

.MuiTableCell-root {
  background-color: var(--theme-table-bg) !important;
  color: var(--theme-color) !important;
}

.MuiSvgIcon-root.compliance {
  color: rgb(3, 175, 3);
}

.MuiSvgIcon-root.technical-specs {
  color: rgb(8, 114, 212);
}

.MuiSvgIcon-root.cadModels {
  color: rgb(231, 66, 231);
}

.MuiPaper-root {
  min-height: 415px;
  background-color: var(--theme-form-menu-bg) !important;
}

.MuiFormControlLabel-label {
  color: var(--theme-form-menu-highlight-color);
}

 /**************************
 * END MUI STYLING *
 **************************/

 .sticky-container {
  width: 100%;
 }

.sticky {
  --var-offset: calc(100vh - 200px);
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: fixed;
  /*background-color: var(--theme-bg);*/
  background-repeat: no-repeat;
  background-position-x: center;
  
  color: var(--theme-color);
  padding: 5px 0;
  text-align: center;
  z-index: -1;
  animation-play-state: running;
  animation-name: randomAvatar;
  animation-duration: 1400s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  animation-delay: var(--animation-time);
  animation-delay: -5s;
}
.sticky.active {
  background-image: url("/image/reveal/avatars.png");
  color: white;
}
@keyframes randomAvatar {
  from {
    background-position-y: calc(0px + var(--var-offset));
  }
  to {
    background-position-y: calc(-1400px + var(--var-offset));
  }
}

.sticky.active > div:first-child {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 4px 15px;
}

.sticky a,
.sticky a:hover {
  color: var(--theme-a-color-hover);
}

.sticky.active a,
.sticky.active a:hover {
  color: var(--theme-a-color-hover);
}

.promo {
  text-align: center;
  left: 0;
  right: 0;
  height: 100%;
  padding: 20px;
  color: var(--theme-color);
  font-size: 0.8em;
}

.promo.masked span {
  border-radius: 8px;
  padding: 4px 15px;
  scale: 1;
  transition: background-color;
  transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--theme-color-inverted);
}

.promo.masked a {
  color: var(--theme-a-color);
}

.promo span:hover {
  scale: 1.2;
}

/* END EXPERIMENTAL */

h1 > a,
h1 > a:hover {
  text-decoration: none !important;
}

.binner-container {
  max-width: 1500px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.header {
  position: relative;
}

.header .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 52pt;
  font-weight: 700;
  text-wrap: nowrap;
  color: #0366d6;
  margin: 0;
  padding: 0 0 0 0;
  line-height: 65px;
  letter-spacing: -4px;
  transition-property: color, text-shadow, filter;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

#layer1 .middle {
  transition: fill 0.15s ease-in;
}

.header .navbar-light .navbar-brand:hover #layer1 .middle {
  fill: #3790f6 !important;
}

.header .navbar-light a.navbar-brand.svg:hover {
  color: #0c73e8;
}

.header .navbar-light .navbar-brand {
  display: block;
  width: 200px;
  height: 54px;
  background-size: 200px 54px;
  background-image: url("/image/logo-dark-200x54.png");
}

.header .navbar-dark .navbar-brand {
  display: block;
  width: 200px;
  height: 54px;
  background-size: 200px 54px;
  background-image: url("/image/logo-light-200x54.png");
}

.header .navbar-light .navbar-brand.svg svg {
  top: -7px;
  position: relative;
  width: 54px;
  height: 54px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.05));
}
.header .navbar-light .navbar-brand.svg:hover svg {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
}
.header .navbar-light a.navbar-brand span {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.header .navbar-light a.navbar-brand:hover span {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.header .navbar-light .navbar-brand.svg {
  display: block;
  width: 260px;
  height: 54px;
  background-size: 54px 54px;
  background-repeat: no-repeat;
  background-image: none;
}

.header .navbar-dark .navbar-brand.svg {
  display: block;
  width: 260px;
  height: 54px;
  background-size: 54px 54px;
  background-repeat: no-repeat;
}

.header .theme-selection {
  font-size: 0.8em;
  float: right;
  position: absolute;
  top: 2px;
  right: 140px;
  z-index: 1000;
}

.header .language-selection {
  font-size: 0.8em;
  float: right;
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 1000;
}

.header .language-selection .ui.selection.dropdown {
  min-width: 100px;
  width: 100px;
  min-height: 2em;
  padding: 0.5em 2.1em 0.5em 1em;
}

.header .language-selection .ui.selection.dropdown .icon {
  margin: -1em;
}

.header .language-selection .ui.selection.dropdown .menu {
  min-width: 100px;
  width: 100px;
}

.header .language-selection .ui.selection.dropdown .menu > .item {
  padding: 0.5em !important;
  min-width: none;
}

.header .language-selection .ui.selection.dropdown .menu > .item .text {
  font-size: 0.8em;
  padding: 2px 2px;
}

section.formHeader {
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableRow .header {
  font-weight: 600;
  background-color: #eee;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  border: 1px solid #eee;
  display: table-cell;
  padding: 3px 10px;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

.dashboard .ui.statistic .value,
.tools .ui.statistic .value {
  transition: color 0.25s ease-in-out;
}

.dashboard .ui.statistic:hover .value {
  color: #0366d6 !important;
}

.tools .ui.statistic:hover .value {
  color: #d62303 !important;
}

.quantityAdded {
  text-align: right;
  margin-right: 50px;
  color: #d62303;
  font-weight: 700;
}

.borderless input {
  border: 1px solid #fff !important;
}

.borderless input:focus {
  border: 1px solid #85b7d9 !important;
}

.fixed50 {
  width: 50px;
}

.fixed60 {
  width: 60px;
}

.fixed75 {
  width: 75px;
}

.fixed100 {
  width: 100px;
}

.partstable .ui.label {
  background-color: transparent !important;
  font-weight: 500 !important;
}

.partstable {
  font-size: 0.7em !important;
}

.contentwrapper {
  background-color: url(--theme-bg);
}

.selectable {
  cursor: pointer;
}

.centered {
  text-align: center;
}

.nav-item > .ui.mini.input {
  font-size: 0.7em !important;
  margin-top: 5px;
}

.navbar-nav .dropdown {
  padding: 2px 2px 2px 6px !important;
  margin: 0px !important;
}

.navbar-nav .dropdown .avatar {
  max-width: 24px;
  max-height: 24px;
}

.kbSearch {
  width: 50%;
  margin: 0 auto;
}

.kbSearch .input {
  width: 100%;
}

.kbContent {
  font-family: "Roboto", sans-serif;
  color: #636468;
  font-size: 1em;
  font-weight: 500;
  margin-top: 0;
  line-height: 1.9;
}

.kbContent p {
  margin-bottom: 40px;
}

.kbContent img {
  padding: 10px;
  margin: 25px 0 0 0;
}

.kbContent .image {
  border: 2px solid #eee;
  font-size: 0.8em;
  margin-top: 50px;
}

.kbContent span {
  position: relative;
  top: -10px;
  padding-left: 20px;
  font-style: italic;
}

.ellipsis-container {
  max-width: 100%;
  display: flex;
}

.ellipsis-container div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-container.nowrap div {
  white-space: nowrap;
}

.ellipsis-container.resizable div {
  resize: horizontal;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis.nowrap {
  white-space: nowrap;
}

.ellipsis.resizable {
  resize: horizontal;
}

.truncate {
  display: -webkit-box;
  max-width: 200px;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate.small {
  font-size: 0.8em;
}

.ribbon.transparent {
  opacity: 0.35;
}

.clickablerow {
  cursor: pointer;
}

/* set number picker sizes*/
.field.numberpicker.tiny .ui.input {
  width: 150px !important;
}

.field.numberpicker .ui.input,
.field.numberpicker.small .ui.input {
  width: 200px !important;
}

.field.numberpicker .ui.input input {
  width: 40% !important;
}

.field.numberpicker.medium .ui.input {
  width: 250px !important;
}

.field.numberpicker.large .ui.input {
  width: 300px !important;
}

.token {
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  margin-right: 20px;
  font-size: 1.2em;
}

.dropzone {
  transition: outline-color 0.3s ease-in-out;
  outline: 4px dashed transparent;
  outline-offset: 4px;
}

.dropzone:hover {
}

.notdroptarget {
  outline: 4px dashed #125cdc;
  cursor: not-allowed !important;
}

.droptarget {
  outline: 4px dashed #125cdc;
}

.droptarget-error {
  outline: 4px dashed #cc0000;
}

.confirm p {
  text-align: center;
  padding: 40px 10px;
  color: var(--theme-color);
  font-weight: normal;
}

.confirm b {
  font-weight: 600;
}

.partLocation {
  text-align: center;
}

.partLocation h1 {
  font-size: 4em;
}

.partLocation.small h1 {
  font-size: 2em !important;
}

.partLocation.small {
  padding: 4px;
  margin-top: 2px !important;
}

/*undo bootstrap modal css*/
.modal {
  height: unset !important;
}

/* gold colored gradient */
.gold-gradient {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

/* segment */
.segment .secondary h3 {
  font-size: 1.1rem;
}

.segment .secondary label {
  font-size: 0.9rem !important;
}

.segment .tertiary h3 {
  font-size: 1rem;
}

.segment .tertiary label {
  font-size: 0.8rem !important;
}

/* error modal */
.description h1 {
  font-size: 1.75rem;
  font-weight: 800;
}

.description h2 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #888;
}

.description h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #333;
}

.description p {
  color: #bbb;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Source Code Pro", monospace;
}

.page-banner {
  min-height: 30px;
}

.page-notice {
  font-size: 0.9em;
  color: var(--theme-page-banner-color);
  background-color: var(--theme-page-banner-bg);
  padding: 2px 10px;
  border: var(--theme-page-banner-border);
  font-weight: 400;
  box-shadow: 0 2px 2px 0 rgb(34 36 38 / 15%);
  cursor: pointer;
  width: 100%;
  max-height: 28px;
}

.page-banner:has(.page-notice.resizable) {
  height: auto;
  min-height: 30px;
}

.page-notice.resizable {
  margin-top: 4px;
  max-height: none;
}

.page-notice div {
  max-width: 100%;
  max-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-error {
  background-color: var(--theme-page-error-bg);
  color: var(--theme-page-error-color);
  padding: 2px 10px;
  border: 1px dotted #6d0a0a;
  font-weight: 400;
  box-shadow: 0 2px 2px 0 rgb(34 36 38 / 15%);
  cursor: pointer;
  width: 100%;
  max-height: 28px;
  margin-bottom: 1px;
}

.page-error div {
  max-width: 100%;
  max-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popupimage {
  padding: 10px;
  font-size: 0.8em;
  font-style: italic;
}

.popupimage img {
  border: 1px dashed #eee;
  padding: 10px;
  max-width: 500px;
  height: auto;
  display: block;
}

.barcode-support {
  box-shadow: 2px 2px 3px 1px rgb(34 36 38 / 20%);
  border-radius: 12px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: filter;
  transition-timing-function: ease-out;
  outline: 4px solid transparent;
  outline-offset: 4px;
  filter: none;
}

.barcode-support.receiving {
  filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(177deg)
    brightness(98%) contrast(91%);
}

.help-icon {
  font-size: 1.1em;
  color: #aaa;
  text-decoration: none;
}

.help-icon:hover {
  color: rgb(0, 100, 230);
}

.pcb-icon {
  display: inline-block;
  width: 64px;
  height: 46px;
  background-size: 64px 46px;
  background-image: url("/image/icon_pcb.png");
  margin-right: 4px;
}

.pcb-icon.small {
  width: 32px;
  height: 23px;
  background-size: 32px 23px;
}

.pcb-icon.tiny {
  width: 22px;
  height: 16px;
  background-size: 22px 16px;
  background-image: url("/image/icon_pcb_tiny.png");
  vertical-align: middle;
  padding: 0;
  margin-top: 0px;
}

/* Icon hover colors */

svg.parttype-LED:hover,
.icon-container svg.parttype-LED:hover {
  color: #f00 !important;
}

svg.parttype-Evaluation:hover,
.icon-container svg.parttype-Evaluation:hover {
  color: #0a0 !important;
}

svg.parttype-Hardware:hover,
.icon-container svg.parttype-Hardware:hover {
  color: #06a !important;
}

svg.parttype-Transistor:hover,
.icon-container svg.parttype-Transistor:hover {
  color: #000 !important;
}

svg.parttype-Capacitor:hover,
.icon-container svg.parttype-Capacitor:hover {
  color: #c0c !important;
}

svg.parttype-Resistor:hover,
.icon-container svg.parttype-Resistor:hover {
  color: rgb(248, 248, 149) !important;
}

svg.parttype-Relay:hover,
.icon-container svg.parttype-Relay:hover {
  color: #08a !important;
}

svg.parttype-IC:hover,
.icon-container svg.parttype-IC:hover {
  color: #000 !important;
}

svg.parttype-Diode:hover,
.icon-container svg.parttype-Diode:hover {
  color: #000 !important;
}

svg.parttype-Crystal:hover,
.icon-container svg.parttype-Crystal:hover {
  color: #ccc !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #0366d6;
}

.link-icon {
  display: inline-block;
  position: absolute;
  margin-left: 15px;
  top: 25px;
}
.link-icon a {
  text-decoration: none;
}

/* CUSTOM TOAST STYLING */

.Toastify {
  width: 100%;
}

.Toastify .Toastify__toast-container:has(#wide) {
  --toastify-toast-width: 70% !important;
}

.Toastify__toast-container.Toastify__toast-container--top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Toastify__toast {
  /* gives more room to the top header controls */
  margin-bottom: 0.5em;
  /* add spacing for close icon */
  padding-right: 40px;
}

div:has(.popup),
div:has(.Toastify > *) {
  -webkit-filter: none !important;
  filter: none !important;
}

.error {
  color: #000;
  font-weight: 400;
}

.error b {
  color: #c00;
  font-weight: 700;
}

.error.small {
  font-size: 0.9em;
}

.scrollable {
  overflow-x: scroll;
}

.expandable-table {
  overflow: scroll;
}

.expandable-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.width-50 {
  min-width: 50px;
  max-width: 75px;
}

.width-100 {
  min-width: 100px;
  max-width: 200px;
}

.width-150 {
  min-width: 150px;
  max-width: 200px;
}

.width-200 {
  min-width: 200px;
  max-width: 250px;
}

.width-250 {
  min-width: 250px;
  max-width: 300px;
}

.width-300 {
  min-width: 300px;
  max-width: 400px;
}

.part-reference {
  font-weight: 500;
  color: #1b59dd;
}

.suggested-part {
  font-size: 0.8em;
  height: 19px;
}

.suggested-part span {
  font-style: italic;
}

.suggested-part button {
  font-weight: 500;
  font-style: normal;
}

.disabled > * {
  opacity: 0.5;
}

h1.maker::after {
  content: "MAKER";
  background-color: rgb(0, 100, 230);
  color: #fff;
  font-size: 0.5em;
  vertical-align: super;
  text-decoration: none !important;
  padding: 1px 2px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-left: 2px;
}

h1.pro::after {
  content: "PRO";
  background-color: rgb(0, 100, 230);
  color: #fff;
  font-size: 0.5em;
  vertical-align: super;
  text-decoration: none !important;
  padding: 1px 2px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-left: 2px;
}

ul.errors {
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
}

ul.errors li {
  color: #999;
}

ul.errors li:before {
  content: "\f06a";
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  padding-right: 10px;
}

ul.errors li.error {
  color: #c00;
}

ul.errors li.error:before {
  content: "\f071";
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  padding-right: 10px;
}

.message-read {
  transition-property: color;
  transition-duration: 1s;
}

.datetime {
  color: var(--theme-color);
  font-size: 0.9em;
}

.datetime.relative {
  font-style: italic;
}