code {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word !important;
	white-space: pre-line !important;
}

pre {
	white-space: pre !important;
}

.block-container{
	display: flex;
	vertical-align: middle;
}

.block-container label {
	font-weight: 600;
	line-height: 3.0;
}

.block-container .block {
	border: 1px solid #888;
	background-color: rgb(189, 189, 189);
	padding: 5px 20px;
	margin: 10px;
	color: #888;
}

.block-container .block.active {
	border: 1px solid #666;
	background-color: rgb(0, 100, 128);
	color: #fff;
	font-weight: 600;
}