.smd-capacitor-code-calculator .ui.button.selected {
  background-color: var(--theme-binnerblue);
  color: var(--theme-color-highlight);
}

.smd-capacitor-code-calculator .ui.table td {
  border: 1px solid #fefefe;
}

.smd-capacitor-code-calculator .results .field label {
  display: block;
  font-weight: 700;
}

.smd-capacitor-code-calculator .results .field span {
  margin-left: 10px;
}

.smd-capacitor-code-calculator .results .description {
  font-size: 0.9em;
}