.confirm-modal .ui.toggle.checkbox.left label {
  padding-left: 0;
  padding-right: 4em;
}

.confirm-modal .ui.checkbox.left input,
.confirm-modal .ui.toggle.checkbox.left label:before {
  left: auto !important;
  right: 0 !important;
}

.confirm-modal .ui.toggle.checkbox.left label:after {
  left: auto !important;
  right: 1.9em !important;
  top: .1em;
  transition: background 0.3s ease 0s, right 0.3s ease 0s !important;
}

.confirm-modal .ui.toggle.checkbox.left input:checked+label:after {
  left: auto !important;
  right: .33em !important;
  top: .1em;
  transition: background 0.3s ease 0s, right 0.3s ease 0s !important;
}

.confirm-modal .ui.toggle.checkbox.small {
  font-size: 0.9em;
}

.confirm-modal .ui.toggle.checkbox.small label:before {
  transform: scale(0.75);
}

.confirm-modal .ui.toggle.checkbox.small label:after {
  transform: scale(0.75);
}