.ui.modal.release-notes {
  background-color: transparent;
}

.ui.modal.release-notes .header,
.ui.modal.release-notes .description,
.ui.modal.release-notes .content,
.ui.modal.release-notes .actions {
  background-color: var(--theme-modal-bg);
  color: var(--theme-color);
}

.ui.modal.release-notes .actions {
  background-color: var(--theme-modal-actions-bg);
}

.ui.modal.release-notes .header {
  border-bottom: 1px solid #30363d;
}

.ui.modal.release-notes .actions {
  border-top: 1px solid #30363d;
}

.ui.modal.release-notes .actions .ui.primary.button {
  background-color: #238636;
  background-color: var(--theme-table-bg);
}

.ui.modal.release-notes .description h1 {
  color: #0366d6;
  font-size: 1.75em !important;
  font-weight: 700;
}

.ui.modal.release-notes .content {
  background-color: var(--theme-modal-bg);
  color: var(--theme-color)
}

.ui.modal.release-notes .content a {
  color: #2f81f7;
}

.ui.modal.release-notes .content ul {
  list-style: none;
  margin-top: 5px;
}

.ui.modal.release-notes .content li {
  color: var(--theme-color);
  padding: 2px;
}

.ui.modal.release-notes .content li::before {
  content: "\2022";
  color: var(--theme-a-color);
  font-weight: 700;
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

.ui.modal.release-notes .content h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.ui.modal.release-notes .content h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--theme-secondary-color);
}

.ui.modal.release-notes .content h4 {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--theme-secondary-color);
}

.ui.modal.release-notes .content .bullet {
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 10px;
}

.ui.modal.release-notes .content code {
  background: var(--theme-code-bg) !important;
  color: var(--theme-code-color) !important;
  border: none;
  display: inline-block;
  padding: 0 5px;
  margin: 0;
}