<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="./logs/Binner-internal.log"
      internalLogLevel="Info">
  <variable name="Layout"
            value="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
  <variable name="LocaleLayout" value="${shortdate}|${message}"/>
  <targets>
    <target type="File" name="file"
            layout="${Layout}"
            fileName="./logs/Binner.log"
            archiveFileName="./logs/Binner.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="10"/>
    <target type="File" name="microsoftfile"
            layout="${Layout}"
            fileName="./logs/Binner.Microsoft.log"
            archiveFileName="./logs/Binner.Microsoft.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="locale"
            layout="${LocaleLayout}"
            fileName="./logs/Binner.MissingLocaleKeys.log"
            archiveFileName="./logs/Binner.MissingLocaleKeys.{#####}.log"
            archiveAboveSize="5242880" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="1"/>
    <target type="ColoredConsole" name="console"
            layout="${Layout}"
            encoding="ascii" />
  </targets>
  <rules>
    <logger name="Binner.Web.Controllers.LocaleController" minLevel="Info" final="true" finalMinLevel="Off" writeTo="locale" />
    <logger name="Microsoft.*" minLevel="Error" appendTo="console" />
    <logger name="Microsoft.*" minLevel="Info" final="true" finalMinLevel="Off" appendTo="microsoftfile" />
    <logger name="*" minLevel="Info" appendTo="console" />
    <logger name="*" minLevel="Debug" appendTo="file"/>
  </rules>
</nlog>
