<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Binner\Binner-internal.log"
      internalLogLevel="Info">
  <variable name="Layout"
            value="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
  <variable name="LocaleLayout" value="${shortdate}|${message}"/>
  <targets>
    <target type="File" name="file"
            layout="${Layout}"
            fileName="C:\Binner\Binner.log"
            archiveFileName="C:\Binner\Binner.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="10"/>
    <target type="File" name="microsoftfile"
            layout="${Layout}"
            fileName="C:\Binner\Binner.Microsoft.log"
            archiveFileName="C:\Binner\Binner.Microsoft.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="locale"
            layout="${LocaleLayout}"
            fileName="C:\Binner\Binner.MissingLocaleKeys.log"
            archiveFileName="C:\Binner\Binner.MissingLocaleKeys.{#####}.log"
            archiveAboveSize="5242880" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="1"/>
    <target type="ColoredConsole" name="console"
            layout="${Layout}"
            useDefaultRowHighlightingRules="false">
      <highlight-row condition="equals('${event-context:item=color}','Red')" foregroundColor="Red" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','DarkRed')" foregroundColor="DarkRed" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','Green')" foregroundColor="Green" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','DarkGreen')" foregroundColor="DarkGreen" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','Blue')" foregroundColor="Blue" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','Yellow')" foregroundColor="Yellow" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','DarkYellow')" foregroundColor="DarkYellow" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','White')" foregroundColor="White" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','Gray')" foregroundColor="Gray" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','DarkGray')" foregroundColor="Gray" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','Cyan')" foregroundColor="Cyan" backgroundColor="NoChange"/>
      <highlight-row condition="equals('${event-context:item=color}','Magenta')" foregroundColor="Magenta" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" backgroundColor="NoChange"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Error" appendTo="console" />
    <logger name="Binner.Web.Controllers.LocaleController" minLevel="Info" final="true" writeTo="locale" />
    <logger name="Microsoft.*" minLevel="Warning" final="true" appendTo="microsoftfile" />
    <logger name="*" minLevel="Info" appendTo="console"/>
    <logger name="*" minLevel="Trace" appendTo="file"/>
  </rules>
</nlog>
