<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="./logs/Binner-internal.log"
      internalLogLevel="Info">
  <variable name="Layout"
            value="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
  <variable name="LocaleLayout" value="${shortdate}|${message}"/>
  <targets>
    <target type="File" name="file"
            layout="${Layout}"
            fileName="./logs/Binner.log"
            archiveFileName="./logs/Binner.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="10"/>
    <target type="File" name="microsoftfile"
            layout="${Layout}"
            fileName="./logs/Binner.Microsoft.log"
            archiveFileName="./logs/Binner.Microsoft.{#####}.log"
            archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="kicadlogfile"
             layout="${Layout}"
             fileName="./logs/BinnerIO.KiCad.log"
             archiveFileName="./logs/BinnerIO.KiCad.{#####}.log"
             archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
             keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="locale"
            layout="${LocaleLayout}"
            fileName="./logs/Binner.MissingLocaleKeys.log"
            archiveFileName="./logs/Binner.MissingLocaleKeys.{#####}.log"
            archiveAboveSize="5242880" archiveNumbering="Sequence" concurrentWrites="true"
            keepFileOpen="false" maxArchiveFiles="1"/>
    <target type="File" name="apiDigiKey"
             layout="${Layout}"
             fileName="./logs/BinnerIO.DigiKey.log"
             archiveFileName="./logs/BinnerIO.DigiKey.{#####}.log"
             archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
             keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="apiMouser"
             layout="${Layout}"
             fileName="./logs/BinnerIO.Mouser.log"
             archiveFileName="./logs/BinnerIO.Mouser.{#####}.log"
             archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
             keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="apiTme"
             layout="${Layout}"
             fileName="./logs/BinnerIO.TME.log"
             archiveFileName="./logs/BinnerIO.TME.{#####}.log"
             archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
             keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="apiElement14"
             layout="${Layout}"
             fileName="./logs/BinnerIO.Element14.log"
             archiveFileName="./logs/BinnerIO.Element14.{#####}.log"
             archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
             keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="File" name="apiArrow"
             layout="${Layout}"
             fileName="./logs/BinnerIO.Arrow.log"
             archiveFileName="./logs/BinnerIO.Arrow.{#####}.log"
             archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true"
             keepFileOpen="false" maxArchiveFiles="2"/>
    <target type="ColoredConsole" name="console"
            layout="${Layout}"
            encoding="ascii" />
  </targets>
  <rules>
    <logger name="Binner.Web.Controllers.LocaleController" minLevel="Info" final="true" finalMinLevel="Off" writeTo="locale" />
    <logger name="Microsoft.*" minLevel="Error" appendTo="console" />
    <logger name="Microsoft.*" minLevel="Info" final="true" finalMinLevel="Off" appendTo="microsoftfile" />
    <logger name="Binner.Web.Controllers.KiCadController" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="kicadlogfile" />
    <!-- API Logs: Set minLevel="Trace" to enable response level logging at the api level -->
    <logger name="Binner.Services.Integrations.DigikeyV4Api" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiDigiKey" />
    <logger name="Binner.Services.Integrations.DigikeyV3Api" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiDigiKey" />
    <logger name="Binner.Services.Integrations.DigikeyApi" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiDigiKey" />
    <logger name="Binner.Services.Integrations.MouserApi" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiMouser" />
    <logger name="Binner.Services.Integrations.ArrowApi" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiArrow" />
    <logger name="Binner.Services.Integrations.TmeApi" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiTme" />
    <logger name="Binner.Services.Integrations.Element14Api" minLevel="Debug" final="true" finalMinLevel="Off" appendTo="apiElement14" />
    <!-- End API Logs -->
    <logger name="*" minLevel="Info" appendTo="console" />
    <logger name="*" minLevel="Debug" appendTo="file"/>
  </rules>
</nlog>
